<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title class="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta class="config:app-meta"/>
        <link rel="shortcut icon" href="$shared/resources/images/exist_icon_16x16.ico"/>
        <link rel="stylesheet" type="text/css" href="$shared/resources/css/exist-2.2.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/bootstrap-3.0.3.min.js"/>
    </head>
    <body id="grey-top">
        <div class="grey-bot">
            <div class="container" id="main-container">
                <div class="row">
                    <div class="col-md-12" id="header">
                        <a href=".">
                            <img src="resources/images/indolib_logo.png"/>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <nav class="navbar navbar-default" role="navigation" data-template="site:expand-links">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"/>
                            <span class="icon-bar"/>
                            <span class="icon-bar"/>
                        </button>
                        <div class="navbar-collapse collapse" id="navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="dropdown" id="about">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Project Info</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="github.com/paddymcall/SARIT">GitHub
                                                Text Repo</a>
                                        </li>
                                        <li>
                                            <a href="{dashboard}/index.html">Dashboard</a>
                                        </li>
                                        <li>
                                            <a href="http://exist-db.org">eXist-db.org</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown" id="sarit">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help Files</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="search-help.html">Search Help</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown" id="documentation">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{doc}/documentation.xml">Documentation</a>
                                        </li>
                                        <li>
                                            <a href="{fundocs}/index.html">XQuery Functions</a>
                                        </li>
                                        <li>
                                            <a href="http://markmail.org/search/exist-db">Mailing
                                                List</a>
                                        </li>
                                        <li>
                                            <a href="http://atomic.exist-db.org">News / Wiki</a>
                                        </li>
                                        <li>
                                            <a href="http://en.wikibooks.org/wiki/XQuery">XQuery
                                                Wikibook</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown" id="development">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Development</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{eXide}/index.html">eXide</a>
                                        </li>
                                        <li>
                                            <a href="http://exist-db.org/api/index.html">Javadocs</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown" id="administration">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{dashboard}/index.html">Dashboard</a>
                                        </li>
                                        <li>
                                            <a href="/webstart/exist.jnlp">Webstart Client</a>
                                        </li>
                                        <li>
                                            <a href="/admin/">Admin Web Client</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div id="main" class="row"/>
            </div>
        </div>
        <div id="footer">
            <div id="exist">
                <a href="http://exist-db.org/">
                    <img src="resources/images/existdb.png" width="100"/>
                </a>
            </div>
            <div id="tei">
                <a href="http://www.tei-c.org/">
                    <img src="resources/images/powered-by-TEI.png"/>
                </a>
            </div>
            <div id="copyright">© 2014 SARIT</div>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.form-group[data-toggle="tooltip"]').tooltip({container: 'body'});
            });
        </script>
    </body>
</html>